{
    "assets": {
        "bootstrap": "./vendor/components/bootstrap/",
        "font-awesome": "./vendor/components/font-awesome/",
        "jquery": "./vendor/components/jquery/"
    },
    "index": "DashboardController",
    "login": "LoginController",
    "logout": "LogoutController",
    "users": "UserController"
}
